.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    background: rgba(1, 0, 44, 0.171);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.left{
    margin-top: 10px;
    margin-bottom: 10px;
}
img{
    height: 40px;
    width: auto;
}

ul{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    list-style: none;
}
a{
    font-family: 'Inter-Regular';
    text-decoration: none;
    color: white;
}